//colors
/*
#1c3a93
#3364cb
#4379e2
*/

$color-primary: #3364cb;
$color-primary-light: #4379e2;
$color-primary-dark: #1c3a93;

$color-secondary-1: #5ab9ea;
$color-secondary-2: #8860d0;

$color-tertiary-1: #2b7a7b;
$color-tertiary-2: #3aafa9;

$color-primary-high: #05386b;

$color-grey-dark: #777;
$color-grey-light: #eee;


$color-white: #fff;
$color-black: #000;