
.btn {
    &:link,
    &:visited {
    text-decoration: none;
    padding: 2rem 5rem;
    transition: all 0.2s;
    }

    &:active {
        transform: translateY(-1.2rem);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, 0.2)
    }
    

    &-wide {
        width: 100%;
        margin-bottom: 3rem;
        
    }

    &-contact {
        background: linear-gradient(to bottom right, $color-secondary-2 1%, $color-secondary-1);
        //background-color: $color-secondary-2;
        border: none;
        color: $color-white;
        width: 70%;
        font-size: 1.7rem;
        letter-spacing: 3px;
        padding: 1.5rem 0;
        border-radius: 3px;
        text-transform: uppercase;
        font-family: 'Raleway';
    }
    
    &--purple {
        // background-color: $color-secondary-2;
        background: linear-gradient(to bottom right, $color-secondary-2 1%, $color-secondary-1);
        color: $color-white;
        font-size: 2rem;
        text-transform: uppercase;
        border-radius: 0.5rem;  
    }

    &--gradient{
        background: linear-gradient(to bottom right, $color-secondary-2 1%, $color-secondary-1);
        color: $color-white;
        font-size: 1.2rem;
        text-transform: uppercase;
        border-radius: 0.5rem;
        
    }

    &--plans {
        text-transform: uppercase;
        border-radius: 3px;
        color: $color-white;
        background-color: $color-primary;
        display: block;
        margin: 1rem auto;
        margin-top: 2rem;
        width: 80%;
        
        
    }
    
    &:hover {
        transform: translateY(-0.1rem);
        box-shadow: 0 1rem 1rem rgba(0,0,0, 0.2);
        
    }
    
    
    &--animated {
       transform: scale(1.2);
    }
    
    
    
    &--card {
        height: 4rem;
        width: 100%;
        font-weight: 300;
        font-size: 2rem;
        text-transform: uppercase;
        border-radius: 3px;
        background-color: #e67e22;
        color: $color-white;

        &:hover{
            transform: translateY(0);
            background-color: #f39c12;

        }

    }

}








