.section-gallery {
    margin-top: -3.5rem;
    background-color:$color-grey-light;
    padding: 7rem 0 0.2rem 0;
    transition: all 5s;


    &-container {
          width: 100%;
    }  

}



.gallery__photos {

    width: 100%;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    // grid-column-gap: 0;
    // grid-row-gap: 0;

    &--content {
        list-style: none;
        float: left;
        

        &-p1 {
            height: 24rem;
            width: 28.5rem;
            //width: 100%;
            transform: scale(1.15);
            opacity: 0.8;
        }

        &-p1:hover {
            transform: scale(1.04);
        /*    box-shadow: 0 25rem 2rem rgba(0,0,0, 0.9);*/
            transition: .6s ease;
            opacity: 1;
        }
    }
}











