body {
    font-family: "Montserrat", sans-serif;
    margin: 3rem;
    font-weight: 400;
    box-sizing: border-box;
    color: $color-grey-dark;
}




//heading fonts template

.heading-primary {

    &--main {
        font-size: 4rem;
        display: block;
        margin-bottom: 1rem;
        animation: slideRight1 2s ease-out;
        
    }

    &--sub {
        font-size: 2rem;
        display: block;
        margin-bottom: 4rem;
        font-weight: 300;
        animation: fadeIn 4s ease-out;
    }
}






.header__text-box {

    &--second{
        background-color: $color-primary-high;
        height: 15rem;
        width: 30rem;
        position: absolute;
        left: 75%;
        top: 65%;
        border-radius: 1rem;
    }

    &--form {
        padding: 1rem;
    }
}






//header form field for getting a hospital card
input[type = text] {
    height: 4rem;
    width: 100%;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    border-radius: 0.3rem;
}




//header secondary formatting
.heading-secondary {
    font-size: 3.5rem;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgba($color-secondary-1, 0.9), rgba($color-secondary-2, 0.9));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 7rem;

    &::after {
        content: "";
        display: block;
        width: 5rem;
        height: 0.2rem;
        margin: 2rem auto;
        background-image: linear-gradient(to bottom right, rgba($color-secondary-1, 0.9), rgba($color-secondary-2, 0.9));
        color: transparent;
        background-clip: text;
        transition: 1s ease;
    }

    &:hover::after {
        width: 25rem;
    }
}



.heading-tertiary {
    font-size: 2rem;
    background-image: linear-gradient(to bottom right, rgba($color-secondary-1, 0.9), rgba($color-secondary-2, 0.9));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}