/*
#1c3a93
#3364cb
#4379e2
*/
.clearfix {
  content: '';
  display: table;
  clear: both; }

@keyframes slideRight1 {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  padding: 0;
  border: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Raleway", sans-serif;
  margin: 3rem;
  font-weight: 400;
  box-sizing: border-box;
  color: #777; }

.heading-primary--main {
  font-size: 4rem;
  display: block;
  margin-bottom: 1rem;
  animation: slideRight1 2s ease-out; }

.heading-primary--sub {
  font-size: 2rem;
  display: block;
  margin-bottom: 4rem;
  font-weight: 300;
  animation: fadeIn 4s ease-out; }

.header__text-box--second {
  background-color: #05386b;
  height: 15rem;
  width: 30rem;
  padding-top: 0.2rem;
  position: absolute;
  left: 75%;
  top: 65%;
  border-radius: 1rem; }

.header__text-box--form {
  padding: 1rem; }

.get-card-input {
  height: 4rem;
  width: 100%;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  border-radius: 0.3rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-align: center;
  background-image: linear-gradient(to bottom right, rgba(90, 185, 234, 0.9), rgba(136, 96, 208, 0.9));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 7rem; }
  .heading-secondary::after {
    content: "";
    display: block;
    width: 5rem;
    height: 0.2rem;
    margin: 2rem auto;
    background-image: linear-gradient(to bottom right, rgba(90, 185, 234, 0.9), rgba(136, 96, 208, 0.9));
    color: transparent;
    background-clip: text;
    transition: 1s ease; }
  .heading-secondary:hover::after {
    width: 25rem; }

.heading-tertiary {
  font-size: 1.8rem;
  background-image: linear-gradient(to bottom right, rgba(90, 185, 234, 0.9), rgba(136, 96, 208, 0.9));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  margin-bottom: 4rem; }
  .heading-tertiary-inverse {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 400;
    text-transform: capitalize; }

.btn:link, .btn:visited {
  text-decoration: none;
  padding: 2rem 5rem;
  transition: all 0.2s; }

.btn:active {
  transform: translateY(-1.2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-wide {
  width: 100%;
  margin-bottom: 3rem; }

.btn-contact {
  background: linear-gradient(to bottom right, #8860d0 1%, #5ab9ea);
  border: none;
  color: #fff;
  width: 70%;
  font-size: 1.7rem;
  letter-spacing: 3px;
  padding: 1.5rem 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'Raleway'; }

.btn--purple {
  background: linear-gradient(to bottom right, #8860d0 1%, #5ab9ea);
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 0.5rem; }

.btn--gradient {
  background: linear-gradient(to bottom right, #8860d0 1%, #5ab9ea);
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 0.5rem; }

.btn--plans {
  text-transform: uppercase;
  border-radius: 3px;
  color: #fff;
  background-color: #3364cb;
  display: block;
  margin: 1rem auto;
  margin-top: 2rem;
  width: 80%; }

.btn:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.btn--animated {
  transform: scale(1.2); }

.btn--card {
  height: 4rem;
  width: 100%;
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #e67e22;
  color: #fff; }
  .btn--card:hover {
    transform: translateY(0);
    background-color: #f39c12; }

.section-about {
  width: 100%;
  transition: all 1s;
  padding-top: 3rem; }

.about-box {
  width: 100%;
  height: 45vh;
  text-align: center;
  outline-offset: 1rem;
  transition: all .4s;
  padding: 1.5rem 1rem; }
  .about-box__icon {
    font-size: 5rem;
    font-weight: 300;
    background-image: linear-gradient(to bottom right, rgba(90, 185, 234, 0.9), rgba(136, 96, 208, 0.9));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; }
  .about-box p {
    font-size: 1.5rem;
    margin-bottom: 4rem; }
  .about-box:hover {
    transform: scale(1.1) translateY(-1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    outline: 1rem solid #3364cb; }

.section-gallery {
  margin-top: -3.5rem;
  background-color: #fafafa;
  padding: 10rem 0 2rem 0;
  transition: all 5s; }
  .section-gallery-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-template-rows: minmax(15rem, auto);
    grid-auto-flow: dense;
    grid-gap: 0.1rem; }
  .section-gallery-box {
    max-width: 100%; }
    .section-gallery-box:nth-child(1) {
      background: linear-gradient(to top right, rgba(67, 121, 226, 0.5), rgba(28, 58, 147, 0.5)), url(../../img/test.jpg) center/contain;
      background-size: cover;
      background-repeat: no-repeat;
      height: 25rem; }
    .section-gallery-box:nth-child(2) {
      grid-column: span 2;
      grid-row: span 2; }
    .section-gallery-box:nth-child(3) {
      background: linear-gradient(to top right, rgba(90, 185, 234, 0.5), rgba(136, 96, 208, 0.5)), url(../../img/doc.jpg) center/contain;
      background-size: cover;
      background-repeat: no-repeat;
      height: 25rem; }
    .section-gallery-box:nth-child(4) {
      background: linear-gradient(to top right, rgba(67, 121, 226, 0.5), rgba(28, 58, 147, 0.5)), url(../../img/ops.jpg) center/contain;
      background-size: cover;
      background-repeat: no-repeat;
      height: 25rem; }
    .section-gallery-box:nth-child(5) {
      background: linear-gradient(to top right, rgba(90, 185, 234, 0.5), rgba(136, 96, 208, 0.5)), url(../../img/bg1.jpg) center/cover;
      background-repeat: no-repeat;
      height: 25rem; }
    .section-gallery-box-pic {
      width: 100%;
      height: 28rem; }

.gallery-video {
  max-width: 100%; }
  .gallery-video-content {
    max-width: 100%; }

.section-details {
  height: 95vh;
  margin-top: 5rem;
  padding: 6rem 0 6rem 0;
  background: linear-gradient(to top right, rgba(44, 66, 131, 0.1), rgba(107, 146, 227, 0.1));
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
  position: relative; }
  .section-details__first {
    color: #fff;
    position: relative; }
    .section-details__first > h2 {
      font-size: 4rem;
      font-weight: 200;
      background-color: #05386b;
      position: absolute;
      top: 60%;
      left: 20%;
      padding: 2rem;
      transform: translateX(10%);
      text-align: center; }
    .section-details__first--photo {
      width: 70rem;
      height: 50rem; }
  .section-details__second {
    background-color: #fff;
    color: #eee;
    padding: 2rem 2rem 4rem 2rem;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    text-align: center; }
    .section-details__second > h3 {
      padding: 2rem 0;
      border-bottom: 1px solid #5ab9ea; }
    .section-details__second > p {
      font-size: 1.7rem;
      color: #5ab9ea;
      padding-bottom: 2rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.section-contact {
  width: 100%;
  color: #777;
  padding-top: 10rem;
  transition: all 0.3s; }

.contact__container {
  position: relative;
  overflow: hidden; }
  .contact__container--first {
    width: 50%;
    height: 50rem;
    background: linear-gradient(to bottom left, #8860d0, #5ab9ea);
    padding-top: .2rem; }
  .contact__container--second {
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.2), rgba(119, 119, 119, 0.2)), url("/img/bg1.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 50%;
    height: 50rem;
    width: 50%;
    object-fit: contain;
    padding-top: 5rem; }
  .contact__container-snippet {
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #fff; }
    .contact__container-snippet:last-child {
      border-bottom: none; }
    .contact__container-snippet-icon {
      color: #fff;
      font-size: 2rem;
      display: inline-block;
      padding: 1rem;
      margin-right: 1rem;
      font-weight: 900; }
    .contact__container-snippet-text {
      font-size: 1.6rem;
      display: inline-block;
      border-left: 2px solid #fff;
      padding-left: 2rem;
      color: #fff; }

.contact-form {
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem 1rem;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .contact-form-group {
    margin: 1rem 0;
    margin-bottom: 2rem;
    border: 2px solid #eee; }
    .contact-form-group:last-child {
      border: none;
      text-align: center; }
  .contact-form-icon {
    color: #8860d0;
    width: 10%;
    font-size: 2rem; }
  .contact-form-input {
    padding: 2rem 1rem;
    width: 90%;
    padding-bottom: 1rem; }
    .contact-form-input-textarea {
      height: 6rem; }
      .contact-form-input-textarea::-webkit-input-placeholder {
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        color: #8860d0;
        padding: 1rem; }
    .contact-form-input:focus {
      outline: none;
      border-bottom: 3px solid #8860d0;
      transition: all 0.5s; }
    .contact-form-input:focus .contact-icon-wrap {
      border-bottom: 3px solid #8860d0; }
    .contact-form-input::-webkit-input-placeholder {
      font-family: 'Raleway', sans-serif;
      font-size: 1.5rem;
      color: #8860d0; }

.contact-icon-wrap {
  display: inline-block; }

.snippet-wrap {
  background-color: #000;
  opacity: 0.5;
  width: 70%;
  margin: 0 auto;
  margin-top: 0.3rem;
  color: #fff;
  border-radius: 3px; }

.section-plans {
  background: linear-gradient(to right, #5ab9ea 50%, #3aafa9, #8860d0);
  padding-top: 10rem;
  position: relative;
  transition: all 2s ease; }

.plans__container {
  background: linear-gradient(181.5deg, #fff 57%, rgba(0, 0, 0, 0.5) 57.5%);
  width: 95%;
  margin: 0 auto;
  padding: 3rem;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  grid-column-gap: 5rem;
  transition: all 2s ease; }

.plans__card {
  width: 100%;
  text-align: center;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4); }
  .plans__card-photocasing {
    width: 100%;
    height: 20rem; }
  .plans__card-photo {
    width: 100%;
    height: 20rem; }
  .plans__card-text {
    color: #fff;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin: 3rem 0; }
  .plans__card:hover {
    transform: translateY(-5px);
    transition: all .5s ease; }

.text--1 {
  color: #777; }

.section-feedback {
  width: 100%;
  background-color: #eee;
  padding: 3rem; }

.feedback__container {
  background-color: rgba(0, 0, 0, 0.7);
  width: 70%;
  height: 50rem;
  margin: 0 auto;
  padding-top: 10rem; }

.feedback__block {
  background-color: #fff;
  width: 70%;
  height: 25rem;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr; }
  .feedback__block--imagecasing {
    height: 90%;
    width: 100%; }
  .feedback__block--image {
    height: 90%;
    width: 100%;
    border-radius: 50%; }
  .feedback__block--message {
    width: 75%;
    padding: 1rem; }
    .feedback__block--message-header {
      color: #3364cb;
      font-size: 2rem;
      font-weight: 500; }
    .feedback__block--message-body {
      color: #777;
      font-size: 1.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (6rem * 2)) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - (6rem * 3)) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (6rem * 2)) / 3)  + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (6rem * 3)) / 4)  + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (6rem * 3)) / 4)  + (2 *6rem)); }

.header {
  height: 80vh;
  background: linear-gradient(to top right, rgba(44, 66, 131, 0.8), rgba(107, 146, 227, 0.8)), url(/img/ops.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(100% 0, 100% 100%, 70% 100%, 0 95%, 0 0);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 0.5rem;
    left: 2rem;
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 0.5rem; }
  .header__text-box--first {
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #fff;
    backface-visibility: hidden; }
